<h2>Editar Usuário </h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
<%= devise_error_messages! %>

<div><%= f.label :name, "Nome" %><br />
  <div class="row">
    <div class="col-md-4">
      <%= f.text_field :name, autofocus: true ,:class=>'form-control' %>
    </div>
  </div>
</div>

<div><%= f.label :email %><br />
  <div class="row">
    <div class="col-md-4">
      <%= f.email_field :email ,:class=>'form-control' %>
    </div>
  </div>
</div>

<% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
<div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
<% end %>

<div><%= f.label :current_password, "Senha Atual" %><br />
  <div class="row">
    <div class="col-md-4">
      <%= f.password_field :current_password, autocomplete: "off",:class=>'form-control'  %>
    </div>
  </div>
</div>

<div><%= f.label :password, "Nova Senha" %>
  <div class="row">
    <div class="col-md-4">
      <%= f.password_field :password, autocomplete: "off" ,:class=>'form-control' %>
    </div>
  </div>
</div>

<div><%= f.label :password_confirmation, "Confirme sua nova senha" %><br />
  <div class="row">
    <div class="col-md-4">
      <%= f.password_field :password_confirmation, autocomplete: "off",:class=>'form-control'  %>
    </div>
  </div>
</div>
</br>



<div><%= f.submit "Update",  :class => 'btn btn-primary' %></div>
<% end %>

<h4>Cancelar minha conta</h4>

<%= button_to "Cancelar", registration_path(resource_name),
data: { confirm: "Are you sure?" }, method: :delete,  :class => 'btn btn-primary' %></p>

