  <%= simple_form_for(@orcamento) do |f| %>

  <div class="form-inputs">
    <div class="row">
      <div class="col-md-3">
        <%= f.input :cliente_id, input_html: { data: { source: pessoas_path(tipo: 1),
          init_id: @orcamento.cliente_id,
          init_ds: @orcamento.cliente.try(:name)
        }
      } %>
      </div>

      <div class="col-md-3">
        <%= f.input :vendedor_id, input_html: { data: { source: pessoas_path(tipo: 2),
          init_id: @orcamento.vendedor_id,
          init_ds: @orcamento.vendedor.try(:name)
        }
      } %>
      </div>
    </div><br/>

    <h4>Produtos</h4><br/>
    <div class="row">
      <div class="col-md-3">Produto</div>
      <div class="col-md-2">Quantidade</div>
      <div class="col-md-2">Valor unitário</div>
      <hr class="line title-product"/>
    </div>

    <div class="row" id="orcamento_produtos">
      <%= f.simple_fields_for :orcamento_produtos do |item| %>
      <%= render 'orcamento_produto_fields', :f => item  %><br/>
      <%end%>
    </div><br/>

    <div class=" row">
      <%= link_to_add_association 'Adicionar Produto', f, :orcamento_produtos, :class => "btn btn-default" %>
      <%= f.button :submit, :class => "btn btn-primary"  %>
    </div><br/>
  </div>
<%end%>

<script type="text/javascript">
  loadSelect2($('#orcamento_cliente_id'));
  loadSelect2($('#orcamento_vendedor_id'));
</script>
