<div class="nested-fields">
  <div class="row">
    <div class="col-md-3">
      <%= f.input :produto_id, label: false,
      input_html: { class: 'product-select2',
        data: { source: produtos_path,
          init_id: f.object.produto_id,
          init_ds: f.object.produto.try(:name)
        }
      } %>
    </div>

    <div class="col-md-2">
      <%= f.input :qt_produto, label: false %>
    </div>

    <div class="col-md-2">
      <%= f.input :sub_total, label: false, as: :string, input_html: {class: 'currency'} %>
    </div>

    <div class="col-md-2">
      <%= link_to_remove_association "Remover Produto", f, :class => "btn btn-danger btn-sm" %>
    </div>
  </div>
  <hr class="line"/>

  <script type="text/javascript">
  loadSelect2($('.product-select2').last());
  loadMasks();
  </script>
</div>
