<h1>Lista de Orçamentos</h1>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <tr>
      <th width=200>Número do orçamento</th>
      <th width=400>Cliente</th>
      <th>CPF/CNPJ</th>
      <th>Vendedor</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @orcamentos.each do |orcamentos| %>
      <tr>
        <td><%= orcamentos.id %></td>
        <td><%= orcamentos.cliente.nm_pessoa %></td>
        <td><%= orcamentos.cliente.nr_cpfcnpj %></td>
        <td><%= orcamentos.vendedor.nm_pessoa %></td>
        <td><%= link_to 'Visualizar', orcamentos %></td>
        <td><%= link_to 'Editar', edit_orcamento_path(orcamentos) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<%= link_to 'Novo', new_orcamento_path %>

