  <div class="numero">
    <h4>
    Número do orçamento: <%= @orcamento.id %>
    </h4><br/>
  </div>

  <h4>Dados do Cliente:</h4>
  <table class="table table-bordered table-striped table-hover table-condensed" id="dados">
    <thead>
      <tr>
        <th width=300>Nome: <%= @orcamento.cliente.nm_pessoa %></th>
        <th width=300>Fantasia: <%= @orcamento.cliente.nm_fantasia %></th>
        <th width=200>CPF/CNPJ: <%= @orcamento.cliente.nr_cpfcnpj %></th>
        <th width=250>E-mail: <%= @orcamento.cliente.email_pessoa %></th>
      </tr>
    </thead>
  </table>
  <table class="table table-bordered table-striped table-hover table-condensed" id="pessoa">
    <thead>
      <tr>
        <th width=800>Endereço: <%= @orcamento.cliente.end_rua %></th>
        <th width=250>Número: <%= @orcamento.cliente.end_numero %></th>
      </tr>
    </thead>
  </table>
  <table class="table table-bordered table-striped table-hover table-condensed" id="endereco">
    <thead>
      <tr>
        <th width=250>Bairro: <%= @orcamento.cliente.end_bairro %></th>
        <th width=100>Cep: <%= @orcamento.cliente.end_cep %></th>
        <th width=250>Complemento: <%= @orcamento.cliente.end_complemento %></th>
      </tr>
    </thead>
  </table>

  <h4>Produtos:</h4>

  <table class="table table-hover">
    <thead>
      <tr>
        <th>Produto</th>
        <th>Quantidade</th>
        <th>Valor Unitário</th>
        <th>Total</th>
      </tr>
    </thead>

    <tbody>
      <% @orcamento.orcamento_produtos.each do |orcamentoproduto| %>
      <tr>
        <td><%= orcamentoproduto.produto.ds_produto %></td>
        <td><%= orcamentoproduto.qt_produto %></td>
        <td><%= orcamentoproduto.sub_total %></td>
        <td><%= orcamentoproduto.qt_produto * orcamentoproduto.sub_total   %></td>
      </tr>
      <% end %>
    </tbody>
  </table>

  <div class="valor-total">
    <h4>
      Valor Total: <%= @orcamento.vl_total %>
    </h4>
  </div>

  <%= link_to 'Back', orcamentos_path %>
