= simple_form_for(@pedido) do |f|
  div class="form-inputs"
    div class="row"
      div class="col-md-3"
        = f.input :cliente_id, input_html: { class: 'select2', data: { source: pessoas_path(tipo: 1),
          init_id: @pedido.cliente_id,
          init_ds: @pedido.cliente.try(:name)}}
      div class="col-md-3"
        = f.input :vendedor_id, input_html: { class: 'select2',  data: { source: pessoas_path(tipo: 2),
          init_id: @pedido.vendedor_id,
          init_ds: @pedido.vendedor.try(:name)}}
    br

    ul.nav.nav-tabs role='tablist'
      li.active
        = link_to 'Produtos', '#produtos', data: {toggle: 'tab'}
      li
        = link_to 'Forma de Pagamento', '#forma', data: {toggle: 'tab'}
      br/

    .tab-content
      #produtos.tab-pane.active role='tabpanel'
        br/
        div class="row"
          div class="col-md-3"Produto
          div class="col-md-2"Quantidade
          div class="col-md-2"Valor unitário
          hr class="line title-product"

        = f.simple_fields_for :pedido_produtos do |item|
          = render 'pedido_produto_fields', :f => item
        .links
          = link_to_add_association 'Adicionar Produto', f, :pedido_produtos, :class => "btn btn-default"
        br/

      #forma.tab-pane.active role='tabpanel'
        br/
        div class="row"
          = f.simple_fields_for :forma_pagamento do |forma|

            div class="col-md-3"
              = f.input :forma_pagamento_id, input_html: { class: 'select_forma',  data: { source: forma_pagamentos_path,
                init_id: @pedido.forma_pagamento_id,
                init_ds: @pedido.forma_pagamento.try(:name)}}

            div class="col-md-2"
              = forma.input :qt_pagamento

            div class="col-md-2"
              = forma.input :dia_pagamento

            div class="col-md-2"
              = forma.input :possui_entrada, as: :boolean, inline_label: true, label: false
        br/

    .actions
      = f.button :submit, :class => "btn btn-primary"

  javascript:
    loadSelect2($('#pedido_cliente_id'));
    loadSelect2($('#pedido_vendedor_id'));
    loadSelect2($('.select_forma'));
