div class="nested-fields"
  div class="row"
    div class="col-md-3"
      = f.input :produto_id, label: false,
      input_html: { class: 'productselect2', data: { source: produtos_path,
          init_id: f.object.produto_id,
          init_ds: f.object.produto.try(:name)}}

    div class="col-md-2"
      = f.input :qt_produto, label: false

    div class="col-md-2"
      = f.input :sub_total, label: false, as: :string, input_html: {class: 'currency'}

    div class="col-md-2"
      = link_to_remove_association "Remover Produto", f, :class => "btn btn-danger btn-sm"
  hr class="line"

  javascript:
    loadSelect2($('.productselect2').last());
    loadMasks();

