h1
  Lista Pedido de Vendas

table class="table table-bordered table-striped table-hover"
  thead
    tr
      th width='200'
        |Número pedido de venda
      th width='400'
        |Cliente
      th
        |CPF/CNPJ
      th
        |Vendedor
      th colspan="3"
      -@pedidos.each do |pedidos|
        tr
          td= pedidos.id
          td= pedidos.cliente.nm_pessoa
          td= pedidos.cliente.nr_cpfcnpj
          td= pedidos.vendedor.nm_pessoa
          td width='150'
            = link_to 'Visualizar', pedidos, class: 'btn btn-info btn-xs'
            = ' '
            = link_to 'Editar', edit_pedido_path(pedidos), class: 'btn btn-primary btn-xs'
br/
= link_to 'Novo', new_pedido_path, class: 'btn btn-primary btn-xs'
