.numero
  h4
    | Número pedido de venda:
    = @pedido.id
  br/
h4 Dados do Cliente:
table#dados.table.table-bordered.table-striped.table-hover.table-condensed
  thead
    tr
      th width="300"
        |Nome: #{@pedido.cliente.nm_pessoa}
      th width="300"
        |Fantasia/Sobrenome: #{@pedido.cliente.nm_fantasia}
      th width="200"
        |CPF/CNPJ: #{@pedido.cliente.nr_cpfcnpj}
      th width="250"
        |E-mail: #{@pedido.cliente.email_pessoa}
table#pessoa.table.table-bordered.table-striped.table-hover.table-condensed
  thead
    tr
      th width="800"
        |Endereço: #{@pedido.cliente.end_rua}
      th width="250"
        |Número: #{@pedido.cliente.end_numero}
table#endereco.table.table-bordered.table-striped.table-hover.table-condensed
  thead
    tr
      th width="250"
        |Bairro: #{@pedido.cliente.end_bairro}
      th width="100"
        |Cep: #{@pedido.cliente.end_cep}
      th width="250"
        |Complemento: #{@pedido.cliente.end_complemento}
h4 Produtos:
table.table.table-hover
  tr
    th Produto
    th Quantidade
    th Valor Unitário
    th Total
    -@pedido.pedido_produtos.each do |pedidoproduto|
      tr
        td= pedidoproduto.produto.ds_produto
        td= pedidoproduto.qt_produto
        td= pedidoproduto.sub_total
        td= pedidoproduto.qt_produto * pedidoproduto.sub_total
.valor-total
  h4
    | Valor Total:
    = @pedido.vl_total
= link_to 'Back', pedidos_path

