/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require select2-bootstrap
 *= require_self
 */

 #pedidos .input {
     margin-left: 10px;
 }

 #pedidos div.nested-fields table {
     margin-left: 150px;
     width: 80%;
 }

 #pedidos label.boolean.optional {
     width: 50px;
 }

 #pedidos input[type="checkbox"] { margin:  8px; }

 td.done_column { width: 80px; }



 #pedidos > .nested-fields > table .remove_fields { margin-left: 0px; line-height: 30px; }

 #pedidos .clearfix { margin-bottom: 2px; }

 #pedidos > .nested-fields > .links > a.add_fields { margin-top: 2px; width:100%; display:block; margin-bottom: 20px; }
 #pedidos > .links > a.add_fields { margin-top: 20px; width: 100%; display:block; border-top: 1px dashed silver; }

 .project-tag-fields { padding: 2px; border: 1px dashed #ddd; }

 td .btn {
     margin-left: 3px;
 }


#dados{
  padding-bottom: 0;
  margin-bottom: 0px;
}

#pessoa {
  border-top: 0;
  padding-top: 0;
  margin-bottom: 0px;
}
#endereco {
  border-top: 0;
  padding-top: 0;
}

.select2-container {
  width: 100%;
}

.title-product {
  border-top: 1px solid #030303;
  width: 98%;
}

.valor-total{
 border-top: 1px solid #030303;
 text-align: right;
}

.numero{
 text-align: right;
}



