@media print {
  body {
    font-size: 11px;
  }
  a {
    color: #000;
    text-decoration: none;
  }
  .noprint {
    display:none;
  }
  .onlyprint {
    display: block;
  }

  [class*="span"] {
    float: left;
  }

  table.table {
    width: 100%;
  }
  table, table tr td {
    border: 1px solid #cacaca;
    font-size: 10px;
    border-collapse: collapse;
    padding: 4px;
  }
  table td.label-print,
  table td.label-td { font-weight: bold; width: 45%; }

  .well {
    background-color: #bababa;
    width: 40%;
    margin: 20px;
    float: left;
    text-align: center;
  }
  .print-left {
    float: left;
  }
  .print-clearfix {
    clear: both;
  }

  .well {
    margin-left: 0 0 0 15px;
    padding: 0 10px;
  }
}
