doctype 5
html
  head
    title= "Tolesoft"
    = stylesheet_link_tag    'application', media: 'screen', 'data-turbolinks-track' => true
    = stylesheet_link_tag    "print", media: :print
    = stylesheet_link_tag    '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'
    = javascript_include_tag 'application'
    = javascript_include_tag '//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js'
    = csrf_meta_tags

body
  .nav.navbar.navbar-inverse.noprint role="navigation"
    .container
      .collapse.navbar-collapse.navbar-ex1-collapse
        ul.nav.navbar-nav
          -if user_signed_in?
            li = link_to 'Home', '/'
            li.dropdown
              a.dropdown-toggle data-toggle="dropdown" href="#"
                | Cadastros
                b.caret
              ul.dropdown-menu
                li
                li.divider
                li
                  a href="/admin"  Ajuda
            li.dropdown
              a.dropdown-toggle data-toggle="dropdown" href="#"
                | Financeiro
                b.caret
              ul.dropdown-menu
                li = link_to 'Lista de orçamentos', orcamentos_path
                li = link_to 'Novo orçamento', new_orcamento_path
                li.divider
                li = link_to 'Lista pedido de venda', pedidos_path
                li = link_to 'Novo pedido de venda', new_pedido_path
                li.divider
                li
                  a href="/admin"  Ajuda
        ul.nav.navbar-nav.navbar-right
            -if user_signed_in?
              li = link_to 'ADMIN', '/admin'
              li = link_to 'SAIR', destroy_user_session_path, :method => :delete
  .container
      == yield
